// app global css in SCSS form

@import 'theme';
@import 'fonts';
@import 'calendar';

.gap-xs { gap: 5px; }
.gap-sm { gap: 10px; }
.gap-md { gap: 20px; }
.gap-lg { gap: 30px; }
.gap-xl { gap: 40px; }

.border-radius {
  border-radius: 50%;
}

body {
  color: var(--q-base-text-color);
}

.q-page-general {
  max-inline-size: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  margin-top: 1rem;
}

/* ------------------------------ Quasar overrides ------------------------------ */

// q-field overrides
.q-field {
  .q-field__native {
    padding: 2px 0 !important;
  }

  .q-field__label {
    top: -24px;
    left: -12px;
    transform: none !important;
  }

  .q-field__control-container {
    padding: 0 !important;
  }

  .q-field__bottom {
    padding: 5px 0;
  }

  &.q-textarea {
    .q-field__control-container {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
}

.q-field--outlined .q-field__control:hover:before {
  border-color: $grey !important;
}

.q-toggle__inner {
  margin-left: -10px;
}

// q-btn overrides
.q-btn {
  border-radius: 5px;
  text-transform: none;
  box-shadow: 0 2px 4px var(--q-secondary);

  .q-btn__content {
    gap: 5px;
  }
}

.q-btn:before {
  box-shadow: none;
}

// q-card
.q-card {
  box-shadow: 0 3px 8px rgba(34, 48, 32, 0.1), 0 0 transparent, 0 0 transparent;
  border-radius: 6px;
}

// q-table
.q-table__card {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
  border-radius: 0;

  thead > tr > th:first-child {
    text-align: start;
  }

  thead > tr > th {
    color: var(--q-base-text-color);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
  }

  tbody > tr > td {
    color: var(--q-base-text-color);
    font-size: 15px;
  }

  tbody > tr > td:before {
    background: none;
  }

  tbody .actions {
    .q-btn {
      border-radius: 50%;
      box-shadow: none;
    }

    .q-btn:hover {
      transform: translateY(-1px);
    }
  }
}

// q-dialog
.q-dialog {
  .dialog-card {
    width: 370px;

    .dialog-title {
      .text-h6 {
        font-size: 1.125rem;
      }
    }
  }
}
