@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/PublicSans-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/PublicSans-Regular.woff') format('woff'),
    /* Modern Browsers */
      url('./fonts/PublicSans-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/PublicSans-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/PublicSans-Medium.woff') format('woff'),
    /* Modern Browsers */
      url('./fonts/PublicSans-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/PublicSans-SemiBold.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/PublicSans-SemiBold.woff') format('woff'),
    /* Modern Browsers */
      url('./fonts/PublicSans-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/PublicSans-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/PublicSans-Bold.woff') format('woff'),
    /* Modern Browsers */
      url('./fonts/PublicSans-Bold.ttf') format('truetype')
}
