// General theme colors
body {
  --q-border-color: rgba(0, 0, 0, 0.12);
}

// Light theme colors
.body--light {
  --q-primary: var(--q-light-primary);
  --q-secondary: var(--q-light-secondary);
  --q-accent: var(--q-light-accent);
  --q-positive: var(--q-light-positive);
  --q-negative: var(--q-light-negative);

  --q-base-text-color: var(--q-light-base-text-color);
  --q-base-color: var(--q-light-base-color);
}
